*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body{
    background: #f1f1f1;
}

.social-media{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-media div{
    display: inline;
    font-size: 40px;
}

.social-media div a{
    width: 70px;
    height: 70px;
    display: inline-flex;
    background: #2c3e50;
    color: white;
    border-radius: 50px;
    transition: 0.5s;
}

.social-media div a i{
    margin: auto;
}

.social-media a:hover{
    transform: scale(1.1) rotate(360deg);
} 

.social-media .face a:hover{
    background-color: #4267b2;
}

.social-media .twitter a:hover{
    background-color: #00acee;
}

.social-media .instagram a:hover{
    background-color: #E1306C;
}

.social-media .youtube a.hover{
    background-color: #c4302b;
}